{% extends "lead/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<h1 class="text-center text-primary display-4 form-heading">{{ title }}</h1>
<div class="row">
    <div class="col">
        {% if messages %}
        {% for message in messages %}
        <div class="alert alert-{{ message.tags }} alert-dismissible fade show">
            {{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        {% endfor %}
        {% endif %}
    </div>
</div>

<section>
    <div class="container rounded mb-5" id="student-forms">
        <form method="post">
            {% csrf_token %}
            <h2 class="text-primary">Basic</h2>
            <div class="form-row">
                <div class="form-group col-md-4">
                    {{form.first_name|as_crispy_field }}
                </div>
                <div class="form-group col-md-4">
                    {{form.last_name|as_crispy_field }}
                </div>
                <div class="form-group col-md-4">
                    {{form.emp_code|as_crispy_field }}
                </div>
            </div>
            <h2 class="text-primary">Contact</h2>
            <div class="form-row">
                <div class="form-group col-md-6">
                    {{form.gender|as_crispy_field }}
                </div>
                <div class="form-group col-md-6">
                    {{form.date_of_joining|as_crispy_field }}
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    {{form.email|as_crispy_field }}
                </div>
                <div class="form-group col-md-6">
                    {{form.mobile|as_crispy_field }}
                </div>
            </div>
            <h2 class="text-primary">Adress</h2>
            <div class="form-row">
                <div class="form-group col-md-6">
                    {{form.adress|as_crispy_field }}
                </div>
                <div class="form-group col-md-6">
                    {{form.adress2|as_crispy_field }}
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-4">
                    {{form.city|as_crispy_field }}
                </div>
                <div class="form-group col-md-4">
                    {{form.state|as_crispy_field }}
                </div>
                <div class="form-group col-md-4">
                    {{form.pincode|as_crispy_field }}
                </div>
            </div>
            <h2 class="text-primary">student login signup</h2>
            <div class="form-row">
                <div class="form-group col-md-4">
                    {{user_form.username|as_crispy_field }}
                </div>
                <div class="form-group col-md-4">
                    {{user_form.password1|as_crispy_field }}
                </div>
                <div class="form-group col-md-4">
                    {{user_form.password2|as_crispy_field }}
                </div>
            </div>

            <div class="form-group col-md-6 offset-md-3">
                <button class="btn text-white btn-block btn-primary" type="submit">
                    Save
                    <i class="fas fa-arrow-right"></i>
                </button>
            </div>
        </form>
    </div>
</section>

{% endblock %}



