{% extends "lead/home.html" %} {% block content %}

<section>
    <div class="jumbotron-fluid">
        <div class="container">
            {% if messages %} {% for message in messages %}
            <div class="alert alert-{{ message.tags }} alert-dismissible fade show">
                {{ message }}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button> {% endfor %} {% endif %}
            </div>
        </div>
</section>

<section>
    <h3 class="display-4 text-secondary my-4 text-center">
        all transport information
    </h3>
</section>

<section class="studentlist row table-responsive">
    <table class="table col-md-10 offset-md-1">
        <caption>Bus information</caption>
        <thead class="text-center bg-gradient-primary text-white">
            <tr>
                <th scope="col">Route Name</th>
                <th scope="col">Owner name</th>
                <th scope="col">Mobile</th>
                <th scope="col">Reg no.</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody class="text-center text-lowercase text-justify text-secondary">
            {% for bus in transports%}
            <tr>
                <td class="py-3">{{ bus.bus_Route_start_to_end }}</td>
                <td class="py-3">{{ bus.owner_name}} </td>
                <td class="py-3"> {{ bus.owner_mobile }}</td>
                <td class="py-3"> {{ bus.bus_reg_number }}</td>
                <td class="py-3">
                    <a href="{% url 'update-bus' bus.id %}" class="btn btn-sm btn-warning mb-2">Update </a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
</section>

{% endblock content %}