{% extends "lead/home.html" %} {% block content %}

<section id='welcomeText'>
    <div class="container-fluid p-3">
        <span class="btn bg-gradient-primary rounded disabled shadow-lg display-5 text-secondary ml-3">
            Hello {{request.user}} !!
        </span>
    </div>
</section>

<hr class="shadow-lg mb-4">

<section id='usercounts justify-content-around'>
    <div class="row">
        <div class="btn py-3 text-secondary bg-gradient-primary col-md-2 mx-5 mb-3 shadow">
            <h3>
                students
            </h3>
            <p class="lead">
                {{student_count}}
            </p>
        </div>
        <div class="btn py-3 text-secondary bg-gradient-primary col-md-2 mx-5 mb-3 shadow">
            <h3>
                teachers
            </h3>
            <p class="lead">
                {{teacher_count}}
            </p>
        </div>
        <div class="btn py-3 text-secondary bg-gradient-primary col-md-2 mx-5 mb-3 shadow">
            <h3>
                admins
            </h3>
            <p class="lead">
                {{ lead_count }}
            </p>
        </div>
        <div class="btn py-3 text-secondary bg-gradient-primary col-md-2 mx-5 mb-3 shadow">
            <h3>
                management
            </h3>
            <p class="lead">
                {{ management_count }}
            </p>
        </div>
    </div>
</section>


{% endblock content %}