{% extends "lead/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<section>
    <h1 class="text-center text-primary display-4 form-heading">{{ title }}</h1>
    <div class="row">
        <div class="col">
            {% if messages %}
            {% for message in messages %}
            <div class="alert alert-{{ message.tags }} alert-dismissible fade show">
                {{ message }}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            {% endfor %}
            {% endif %}
        </div>
    </div>
    <div class="container border rounded mb-5" id='usercreation'>
        <form method="POST">
            {% csrf_token %}
            <div class="container row">
                <!-- <div class="col-md-6"> -->
                <fieldset class="form-group col-md-6 offset-md-3">
                    {{ form|crispy }}
                </fieldset>

    
                <!-- </div> -->
            </div>
            <div class="form-group col-md-6 offset-md-3">
                <button class="btn btn-lg text-white btn-block btn-primary" type="submit">
                    Save
                    <i class="fas fa-arrow-right"></i>
                </button>
            </div>
        </form>
    </div>
</section>

<section>
    <table class="table table-responsive table-striped">
        <caption>Subject teachers</caption>
        <thead class="text-center bg-primary text-white">
            <tr>
                <th scope="col">id</th>
                <th scope="col">subject</th>
                <th scope="col">grade </th>
                <th scope="col">section</th>
                <th scope="col">teacher</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody class="text-center text-lowercase text-justify text-muted">
            {% for teacher in subject_teachers%}
            <tr>
                <th class="py-3" scope="row">{{teacher.id}} </th>
                <td class="py-3 text-uppercase">{{ teacher.subject }}</td>
                <td class="py-3 text-uppercase">{{ teacher.grade_section.grade }}</td>
                <td class="py-3 text-uppercase">{{ teacher.grade_section.section }}</td>
                <td class="py-3 text-uppercase">{{ teacher.teacher}} </td>
                <td class="py-3">
                    <a href="" class="btn btn-sm btn-info mb-2">View</a>
                    <a href="#" class="btn btn-sm btn-warning mb-2">Update info </a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
</section>
