{% extends "lead/base.html" %}
{% block content %}
<h1 class="text-center text-primary display-4 form-heading">{{ title }}</h1>
<div class="row">
    <div class="col">
        {% if messages %}
        {% for message in messages %}
        <div class="alert alert-{{ message.tags }} alert-dismissible fade show">
            {{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        {% endfor %}
        {% endif %}
    </div>
</div>
<div class="container rounded mb-5" id='customforms'>
    <form action="{% url 'add-subject' %}" method="POST" class="border rounded">
        {%csrf_token %}
        <div class="form-group col-md-6 offset-md-3">
            <label for="subject_name">
                <h4 class="display-6 mt-5 mb-0 text-center text-primary">subject name</h4>
            </label>
            <input type="text" class="form-control" id="subject_name" placeholder="subject_name" name="subject_name">
        </div>
        <div class="form-group col-md-6 offset-md-3">
            <h4 class="display-6 mt-5 mb-4 text-center text-primary">
                select all the grades with this subject
            </h4>
            {%for gd in grade %}
            <div class="custom-control custom-checkbox d-inline grado">
                <input type="checkbox" class="custom-control-input pr-1" id="grade{{gd.id}}" value="{{ gd }}" ,
                    name="grado">
                <label class="custom-control-label pr-1 text-secondary" for="grade{{gd.id}}">{{ gd }}</label>
            </div>
            {%endfor %}
        </div>
        <button class="btn btn-primary text-white btn-block mt-2 col-md-6 offset-md-3 mb-4" type="submit">
            Save
            <i class="fas fa-arrow-right"></i>
        </button>
    </form>
</div>

<section id="subject_table">
    <div class="container row">
        <div class="table-responsive col-md-6 order-1 order-md-2">
            <table class="table table-hover">
                <thead>
                    <tr class="text-center">
                        <th scope="col">All subjects</th>
                    </tr>
                </thead>
                <thead class="text-white  bg-gradient-primary text-center">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">subject</th>
                        <th scope="col">grade</th>
                    </tr>
                </thead>
                <tbody>
                    {% for sub in subjects%}
                    <tr class="table-secondary text-center">
                        <th scope="row">{{sub.id}}</th>
                        <td>{{sub.subject}}</td>
                        <td>{{sub.grade}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</section>
{% endblock content %}