{% extends "lead/base.html" %}
{% block content %}

<section>
    <div class="jumbotron-fluid">
        <div class="container">
            {% if messages %}
            {% for message in messages %}
            <div class="alert alert-{{ message.tags }} alert-dismissible fade show">
                {{ message }}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                {% endfor %}
                {% endif %}
            </div>
        </div>
</section>

<section class="studentlist">
    <table class="table table-responsive table-striped">
        <caption>Student info</caption>
        <thead class="text-center bg-secondary text-muted">
            <tr>
                <th scope="col">id</th>
                <th scope="col">employee code</th>
                <th scope="col">name</th>
                <th scope="col">mobile</th>
                <th scope="col">email</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody class="text-center text-lowercase text-justify text-muted">
            {% for teacher in teachers%}
            <tr>
                <td class="py-3"> {{ teacher.id }}</td>
                <th class="py-3" scope="row">{{teacher.emp_code}} </th>
                <td class="py-3">{{ teacher.first_name }} {{teacher.last_name}}</td>
                <td class="py-3">{{ teacher.mobile}} </td>
                <td class="py-3"> {{ teacher.email }}</td>
                <td class="py-3">
                    <a href="" class="btn btn-sm btn-info mb-2">View</a>
                    <a href="{% url 'update-teacher' teacher.id %}" class="btn btn-sm btn-warning mb-2">Update info </a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
</section>

{% endblock content %}