body {
    font-family: cortado, sans-serif;
    font-weight: 100;
    font-size: 1rem;
    color: #eadefb;
    background: #1f1f1f;
    opacity: 0.7;
    line-height: 2.2;
}

#lead-navbar {
    .nav-item {
        .nav-link:hover {
            font-size: 0.9rem;
            background: #b388ff;
            color: #eadefb;
        }
    }
}

#usercounts {
    font-size: 0.9rem;
}

.loginicon {
    margin-left: 120px;
}

#heading {
    color: #eadefb;
    opacity: 0.7;
}

.loginform {
    font-size: 1.1rem;
    margin-top: 100px;
}

#navlinks {
    .nav-item {
        .nav-link {
            font-size: 1.1rem;
        }
        .nav-link:hover {
            border-bottom: 1px solid white;
        }
    }
}

.navbar-brand {
    font-size: 1.3rem;
}

.homeNavbar.scrolled {
    background: #0E121B;
    transition: background 500ms;
}

.options {
    margin-top: 3%;
}

.my-subjects {
    margin-top: 3%;
}

.my-planners {
    margin-top: 3%;
}

.planner-details {
    margin-top: 3%;
}

.student_Detail {
    margin: 5% 5% 5%;
}

.basic {
    line-height: 3;
}

@media(max-width: 768px) {}