body {
    font-family: cortado, sans-serif;
    font-weight: 100;
    color: #eadefb;
    background: #1f1f1f;
}

#lead-navbar {
    .nav-item {
        .nav-link:hover {
            font-size: 0.9rem;
            background: #b388ff;
            color: #eadefb;
        }
    }
}

#usercounts {
    font-size: 0.9rem;
}

@media(max-width: 768px) {}